html{
    background-image: url()
}
body{
    font-family: 'candara', sans-serif;
    min-width: 1400px;
    max-width: 100%;
    
    background-color: white;
    margin: 0 auto;
    padding: 0;
    border: 3px solid black;
    box-shadow: 0 9px 18px 9px;
}
h1, h2, h3,p {
    margin: 0;
    padding: 0;
}
a{
    font-weight: bold;
    color: orange;
}
a:link, a:visited{
    color: black;
}
a:hover, a:focus{
    color: green;
}

header{
    background-image: url(../images/page_banner.png);
    padding: 15px;
    border-bottom: 2px solid black;
    min-width: 1400px;
    max-width: 100%;
}
header img{
    float: left;
    padding-right: 15px;
}
header h2{
    font-size: 210%;
    text-shadow: black 2px 2px 2px;
    font-style: italic;
    color: #FF4800;
}
header h3{
    font-size: 125%;
}

#nav_menu ul {
    padding-top: 10px;
    background-color: black;
    list-style: none;
    position: relative;
    margin-top: 0px;
    padding-bottom: 10px;
    min-width: 1400px;
    max-width: 100%;
    
}
#nav_menu ul li { 
    float: left;
    margin-left: 90px;
    margin-right: 40px;
    font-size: 130%
    
}
#nav_menu ul li a {
    color: white;
    text-decoration: none;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 26px;
    text-align: center;
}               
#nav_menu ul ul li { 
    float: none;
    margin-left: 0px;
    margin-right: 45px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#nav_menu ul ul li:hover {
    background-color: gray;
}
#nav_menu ul li:hover > ul {
    display: block; 
}
#nav_menu > ul:after {
    content: "";
    display: block;
    clear: both; 
}
main{
    padding: 0px 0px 0px 0px;
}
main h1{
    font-size: 250%;
    margin-bottom: 0.5em;
}
main h2{
    font-size: 125%;
    margin: 0.8em 0 0.5em 0;
}
main h3{
    font-size: 110%;
    margin-bottom: 0.5em;
}
main p{
    margin-bottom: 0.5em;
}
main ul{
    margin-top: 0;
}
main section ul li{
    padding-top: 20px;
    font-family:candara;
    font-size: 110%;
}

section {
    width: 600px;
    padding-left: 550px;
}

#name {
    margin-left: 60px;
}
#grade {
    margin-left: 15px;
    margin-top: 10px;
}
#hour {
    margin-left: 73px;
    margin-top: 10px;
}
#add {
    width: 150px;
    margin-top: 15px;
    float: left;
    margin-right: 5px;
}
#Display_GPA {
    width: 150px;
    margin-top: 15px;
    float: left;
    margin-right: 5px;
}

#Display_Transcript {
    float: left;
    width: 150px;
    margin-top: -4px;
    margin-right: 5px;
}

table {
    border: 2px solid black;
    width: 500px;
}

table h2 {
    text-align: center;
}


th, td, tr{
        border: 1px solid black;
        padding: .2em 1em .2em .5em;
        text-align: center;
        vertical-align: middle;
		}

tbody tr:nth-child(even) td {
        background-color:#FF6E5D;
		}



footer{
    clear: both;
    border-top: 2px solid black;
    padding: 15px;
    background-image: -webkit-linear-gradient(45deg, black 0%, #FF4800 25%, white 100%);
    background-image: -moz-linear-gradient(45deg, black 0%, #FF4800 25%, white 100%);
    background-image: -o-linear-gradient(45deg, black 0%, #FF4800 25%, white 100%);
    background-image: -webkit-linear-gradient(45deg, black 0%, #FF4800 25%, white 100%);
    padding: 15px;
    border-bottom: 2px solid black;
    text-align:center;
    font-size: 80%;
    min-width: 1400px;
    max-width: 100%;
}
footer p{
    color: white;
}

