html{
    background-image: url()
}

body{
    font-family: 'candara', sans-serif;
    min-width: 1400px;
    max-width: 100%;
    
    background-color: white;
    margin: 0 auto;
    padding: 0;
    box-shadow: 0 9px 18px 9px;
}
h1, h2, h3,p {
    margin: 0;
    padding: 0;
}
a{
    font-weight: bold;
    color: orange;
}
a:link, a:visited{
    color: black;
}
a:hover, a:focus{
    color: green;
}

header{
    background-image: url(../images/page_banner.png);
    padding-top: 15px;
    padding-bottom: -10px;
    border-bottom: 2px solid black;
    min-width: 1400px;
    max-width: 100%;
}
header img{
    float: left;
    padding-right: 15px;
}
header h2{
    font-size: 210%;
    text-shadow: black 2px 2px 2px;
    font-style: italic;
    color: #FF4800;
}
header h3{
    font-size: 125%;
}

#nav_menu ul {
    padding-top: 10px;
    background-color: black;
    list-style: none;
    position: relative;
    margin-top: 0px;
    padding-bottom: 10px;
    min-width: 1400px;
    max-width: 100%;
    
}
#nav_menu ul li { 
    float: left;
    margin-left: 90px;
    margin-right: 40px;
    font-size: 130%
    
}
#nav_menu ul li a {
    color: white;
    text-decoration: none;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 26px;
    text-align: center;
}               
#nav_menu ul ul li { 
    float: none;
    margin-left: 0px;
    margin-right: 45px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#nav_menu ul ul li:hover {
    background-color: gray;
}
#nav_menu ul li:hover > ul {
    display: block; 
}
#nav_menu > ul:after {
    content: "";
    display: block;
    clear: both; 
}
main{
    padding: 0px 0px 0px 0px;
}
main h1{
    font-size: 250%;
    margin-bottom: 0.5em;
}
main h2{
    font-size: 125%;
    margin: 0.8em 0 0.5em 0;
}
main h3{
    font-size: 110%;
    margin-bottom: 0.5em;
}
main p{
    margin-bottom: 0.5em;
}
main ul{
    margin-top: 0;
}
main section ul li{
    padding-top: 20px;
    font-family:candara;
    font-size: 110%;
}


body {
    font-family: 'candara', sans-serif;
}
h1 {
    color: black; 
    font-size: 140%;
}
h2 {
    font-size: 115%;
    padding: .5em 0;
}
label {
    color: black;
    float: left;
    width: 8em;
    font-weight: bold;
    text-align: left;
}
input {
    width: 15em;
    margin: 0 0 .5em 1em;
}
#button, #reset {
    width: 7em;
    background-color: silver;
    box-shadow: 2px 2px 0 black; }
#button {
    margin-left: 9em;
}

input[type="checkbox"]{
    width: 13px;
}

#form {
    padding-left: 450px;
}

footer{
    clear: both;
    border-top: 2px solid black;
    padding: 15px;
    background-image: -webkit-linear-gradient(45deg, black 0%, #FF4800 25%, white 100%);
    background-image: -moz-linear-gradient(45deg, black 0%, #FF4800 25%, white 100%);
    background-image: -o-linear-gradient(45deg, black 0%, #FF4800 25%, white 100%);
    background-image: -webkit-linear-gradient(45deg, black 0%, #FF4800 25%, white 100%);
    padding: 15px;
    border-bottom: 2px solid black;
    text-align:center;
    font-size: 80%;
    min-width: 1400px;
    max-width: 100%;
}
footer p{
    color: white;
}








.m-t, .y-t, .s-t {
    width: 100%;
}
.m-c, .y-c, .s-c {
    width: 100%;
}
.m-f, .y-f, .s-f {
    width: 100%;
}
/*header*/
.g-header {
    height: 80px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 9.63541667%;
}
.g-header .s-logo {
    width: auto;
    height: 60px;
    overflow: hidden;
    margin-top: 10px;
    float: left;
}
.g-header .s-logo img {
    width: auto;
    height: 100%;
}
.g-header .s-bar {
    width: auto;
    height: 40px;
    overflow: hidden;
    float: right;
    margin-top: 20px;
}
.g-header .s-bar .s-search {
    width: 230px;
    height: 100%;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: 3px;
}
.g-header .s-bar .s-search input, .g-header .s-bar .s-search button {
    display: block;
    line-height: 40px;
    box-sizing: border-box;
    border: 0;
    outline: 0;
}
.g-header .s-bar .s-search input {
    width: 180px;
    height: auto;
    overflow: hidden;
    float: left;
    background: none;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 14px;
    line-height: 40px;
    color: #333;
}
.g-header .s-bar .s-search button {
    width: 40px;
    height: 100%;
    overflow: hidden;
    float: right;
    background: #000 url(../images/search.png) center center no-repeat;
    background-size: 25px;
    cursor: pointer;
    transition: all ease-out 0.3s;
}
.g-header .s-bar .s-search button:hover {
    background-color: #ff4814;
}
.g-header .s-bar .s-link {
    width: auto;
    height: auto;
    overflow: hidden;
    float: right;
    margin-left: 5px;
    font-size: 0;
}
.g-header .s-bar .s-link a {
    display: inline-block;
    width: 110px;
    height: 40px;
    overflow: hidden;
    background: #000;
    margin: 0 5px;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 14px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    transition: all ease-out 0.3s;
}
.g-header .s-bar .s-link a:hover {
    background: #ff4814;
}
/*nav*/
.g-nav {
    height: auto;
    background: #000;
}
.g-nav .s-nav {
    width: 100%;
    height: 65px;
}
.g-nav .s-nav > li {
    position: relative;
    line-height: 65px;
    color: #fff;
    float: left;
}
.g-nav .s-nav > li:hover {
    background: #ff4814;
}
.g-nav .s-nav > li:hover ul {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.g-nav .s-nav li {
    width: 180px;
    height: auto;
    font-size: 14px;
    text-align: center;
    transition: all ease-out 0.3s;
}
.g-nav .s-nav li a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: inherit;
}
.g-nav .s-nav li ul {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #ccc;
    transform: translateY(10%);
    opacity: 0;
    visibility: hidden;
    transition: all ease-out 0.3s;
}
.g-nav .s-nav li ul li {
    line-height: 50px;
    color: #333;
    box-sizing: border-box;
    border-bottom: 1px dotted #eee;
}
.g-nav .s-nav li ul li:hover {
    background: #000;
    color: #fff;
}
.g-nav .s-nav li ul li:last-child {
    border-bottom-color: transparent;
}
/*ad*/
.g-ad {
    height: 350px;
    overflow: hidden;
    background: url(../images/background.png) center center no-repeat;
    background-size: cover;
}
.g-ad .s-ad {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    font-size: 48px;
    line-height: 350px;
    color: #fff;
    text-align: center;
}
/*about*/
.g-about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    padding: 50px 9.63541667%;
}
.g-about .s-info, .g-about .s-pic {
    height: auto;
    overflow: hidden;
}
.g-about .s-info {
    width: 52%;
    float: left;
}
.g-about .s-info h3 {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding-top: 10px;
    font-size: 32px;
    line-height: 1.5;
}
.g-about .s-info h3:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 120px;
    height: 2px;
    overflow: hidden;
    background: #ff4814;
}
.g-about .s-info p {
    width: 100%;
    height: auto;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
.g-about .s-info p.t-r {
    text-align: right;
    box-sizing: border-box;
    padding-right: 20px;
}
.g-about .s-info p.s-l {
    margin: 10px 0;
}
.g-about .s-pic {
    width: 45%;
    float: right;
}
.g-about .s-pic img {
    display: block;
    width: 100%;
}
/*colleges*/
.g-colleges {
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    padding: 60px 0;
}
.g-colleges .m-t, .g-colleges .m-c {
    height: auto;
    overflow: hidden;
}
.g-colleges .m-t h3 {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 5px;
    font-size: 32px;
    color: #000;
    text-align: center;
}
.g-colleges .m-t h3:before {
    position: absolute;
    z-index: 1;
    content: "";
    border-top: 3px solid #ff4814;
    width: 100px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.g-colleges .m-t p {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 15px;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
}
.g-colleges .m-c {
    margin-top: 30px;
}
.g-colleges .m-c ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.g-colleges .m-c li {
    width: 350px;
    height: auto;
    overflow: hidden;
    margin: 25px 20px;
}
.g-colleges .m-c li .s-pic, .g-colleges .m-c li .s-info {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.g-colleges .m-c li .s-pic img {
    display: block;
    width: 100%;
}
.g-colleges .m-c li .s-info {
    margin-top: 20px;
}
.g-colleges .m-c li .s-info h3, .g-colleges .m-c li .s-info p {
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.g-colleges .m-c li .s-info h3 {
    height: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    color: #000;
}
.g-colleges .m-c li .s-info p {
    height: 7.5em;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin: 10px 0 20px;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}
.g-colleges .m-c li .s-info a {
    display: block;
    width: 110px;
    height: 30px;
    overflow: hidden;
    background: #000;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    transition: all ease-out 0.3s;
}
.g-colleges .m-c li .s-info a:hover {
    background: #ff4814;
}
/*form*/
.g-form {
    height: auto;
    overflow: hidden;
    background: url(../images/bg.png) center center no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 90px 0;
}
.g-form .m-box {
    width: 1000px;
    background: #fff;
    box-sizing: border-box;
    padding: 50px 150px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
.g-form .s-title, .g-form .s-form {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.g-form .s-title h3 {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding-top: 10px;
    font-size: 32px;
    line-height: 1.5;
    text-align: center;
}
.g-form .s-title h3:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    width: 120px;
    height: 2px;
    margin-left: -60px;
    overflow: hidden;
    background: #ff4814;
}
.g-form .s-form {
    margin-top: 30px;
}
.g-form .s-form .s-row {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 15px;
}
.g-form .s-form .s-row.s-ex {
    display: flex;
    justify-content: space-between;
}
.g-form .s-form .s-row select, .g-form .s-form .s-row textarea, .g-form .s-form .s-row input {
    border: 0;
    outline: 0;
}
.g-form .s-form .s-row select:focus, .g-form .s-form .s-row textarea:focus, .g-form .s-form .s-row input:focus {
    border-color: #ff4814;
}
.g-form .s-form .s-row select {
    display: block;
    width: 100%;
    height: 40px;
    overflow: hidden;
    background: #fff;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 0 10px;
    color: #333;
}
.g-form .s-form .s-row textarea {
    display: block;
    width: 100%;
    height: 120px;
    overflow: hidden;
    background: #fff;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 0 10px;
    color: #333;
    line-height: 40px;
}
.g-form .s-form .s-row input[type=checkbox] {
    display: inline-block;
    float: left;
    margin-top: 4px;
}
.g-form .s-form .s-row button[type=submit] {
    display: block;
    width: 100px;
    height: 50px;
    overflow: hidden;
    background: #000;
    margin: 40px auto 0;
    box-sizing: border-box;
    border-radius: 3px;
    transition: all ease-out 0.3s;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    color: #fff;
}
.g-form .s-form .s-row button[type=submit]:hover {
    background: #ff4814;
}
.g-form .s-form .s-row p {
    display: inline-block;
    width: 560px;
    height: auto;
    float: left;
    margin-left: 5px;
    font-size: 14px;
    line-height: 1.5;
    color: #666;
}
.g-form .s-form .s-row label {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    font-size: 14px;
    color: #666;
}
.g-form .s-form .s-row .s-item {
    width: 290px;
    height: auto;
    overflow: hidden;
}
.g-form .s-form .s-row .s-item input {
    width: 100%;
    height: 40px;
    overflow: hidden;
    background: #fff;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #eee;
    outline: 0;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 38px;
    color: #333;
}
.g-form .s-form .s-row .s-item input:focus {
    border-color: #ff4814;
}
/*news*/
.g-news {
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    padding: 50px 0;
}
.g-news .s-t, .g-news .s-c {
    height: auto;
    overflow: hidden;
}
.g-news .s-c {
    margin-top: 30px;
}
.g-news .f-l, .g-news .f-r {
    height: auto;
    overflow: hidden;
}
.g-news img {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.g-news .f-l {
    width: 62%;
}
.g-news .f-r {
    width: 35%;
}
.g-news h3, .g-news h5, .g-news p {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.g-news h3 {
    font-size: 20px;
    text-align: center;
}
.g-news h5, .g-news p {
    font-size: 14px;
    line-height: 1.75;
}
.g-news h5 {
    font-style: normal;
}
.g-news p {
    margin: 5px 0;
    text-indent: 2em;
}
/*contact*/
.g-contact {
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    padding: 50px 0;
}
.g-contact .m-box {
    box-sizing: border-box;
    padding: 0 100px;
}
.g-contact .s-t, .g-contact .s-c {
    height: auto;
    overflow: hidden;
}
.g-contact .s-c {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.g-contact .f-l, .g-contact .f-r {
    height: auto;
    overflow: hidden;
}
.g-contact img {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.g-contact .f-l {
    width: 54%;
}
.g-contact .f-r {
    width: 43%;
}
.g-contact p {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 5px 0;
    font-size: 20px;
    line-height: 1.5;
    color: #333;
}
/*gpa*/
.g-gpa {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: url(../images/bg.png) center bottom no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 50px 0;
}
.g-gpa .m-box {
    width: 900px;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 20px 0;
}
.g-gpa .s-title {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.g-gpa .s-title h3 {
    width: 100%;
    height: auto;
    overflow: hidden;
    font-size: 24px;
    color: #333;
    text-align: center;
}
.g-gpa p {
    width: 100%;
    height: auto;
    overflow: hidden;
    font-size: 14px;
    color: #666;
}
.g-gpa a {
    display: inline-block;
    width: 100px;
    height: 30px;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 14px;
    line-height: 28px;
    color: #333;
    text-align: center;
}
.g-gpa .s-result {
    display: inline-block;
    width: auto;
    height: auto;
    overflow: hidden;
    margin-left: 10px;
    color: #ff4814;
}
.g-gpa table {
    width: auto;
    height: auto;
    overflow: hidden;
    margin-top: 30px;
    font-size: 16px;
    line-height: 50px;
}
.g-gpa table tr th {
    text-align: left;
}
.g-gpa table tr th, .g-gpa table tr td {
    padding: 0 20px;
}
.g-gpa table tr input {
    font-size: 14px;
    line-height: 30px;
    color: #333;
    box-sizing: border-box;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: 0;
}
.g-gpa table tr input:focus {
    border-color: #ff4814;
}
.g-gpa table button {
    cursor: pointer;
    display: inline-block;
    width: 80px;
    height: 30px;
    overflow: hidden;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid #ccc;
    outline: 0;
}
.g-gpa .s-operate {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 10px;
    box-sizing: border-box;
    padding-left: 20px;
}
.g-gpa .s-operate .result {
    display: inline-block;
    width: auto;
    height: auto;
    overflow: hidden;
    margin-left: 25px;
    font-size: 28px;
    color: #ff4814;
}